name: Check Vulnerabilities
on:
  workflow_call:
    inputs:
      image:
        description: Image to check
        required: true
        type: string
      runs_on:
        default: ubuntu-latest
        description: Runner specification
        required: false
        type: string
jobs:
  check-vulnerabilities:
    runs-on: "${{ inputs.runs_on}}"
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@4079ad3567a89f68395480299c77e40170430341 # ratchet:sigstore/cosign-installer@main
        with:
          cosign-release: 'v1.13.1'
      - name: Check install!
        run: cosign version
      - name: Verify container
        run: |
          COSIGN_EXPERIMENTAL=1 cosign verify ${{ inputs.image }}
      - name: Get SBOM
        run: |
          COSIGN_EXPERIMENTAL=1 cosign verify-attestation --type spdx ${{ inputs.image }} | jq '.payload |= @base64d | .payload | fromjson | select( .predicateType=="https://spdx.dev/Document" ) | .predicate.Data | fromjson | .' > spdx.json
      - name: Scan image
        id: scan
        uses: anchore/scan-action@4be3c24559b430723e51858969965e163b196957 # ratchet:anchore/scan-action@v3
        with:
          sbom: spdx.json
          output-format: table
          fail-build: false
      - name: Remove json
        run: "rm spdx.json \n"
