name: Shell linter
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # ratchet:actions/checkout@v3
      - name: Lint check
        uses: azohra/shell-linter@6bbeaa868df09c34ddc008e6030cfe89c03394a1 # ratchet:azohra/shell-linter@v0.6.0
        with:
          exclude-paths: "bin/install_cosign.sh"
