name: Shell linter
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v3
      - name: Lint check
        uses: azohra/shell-linter@30a9cf3f6cf25c08fc98f10d7dc4167f7b5c0c00 # ratchet:azohra/shell-linter@v0.8.0
        with:
          exclude-paths: "bin/install_cosign.sh"
